body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #222;
    color: white;
    padding: 30px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 15px;
    background-color: white;
    border-radius: 8px;
}

h2 {
    color: #444;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

.project {
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: white;
}
.resume-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #222;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.resume-btn:hover {
    background-color: #555;
}
